<%- include('partials/header') %>


    <h1>Hello, Welcome to Fastag Lite!!</h1>
    
    <div class="logo">
    <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2019/12/26/file786rxxg81xcthk0x2s7-1577354327.jpg?itok=JyqlbqOF" alt="fastag">
  </div>
  <br>
  <br>
   <div class="buttons"> 
    <a href="/sign-in" class="w-10 btn btn-lg btn-primary">Sign in</a>
    <a href="/register" class="w-10 btn btn-lg btn-primary" >Register</a>
  </div>

   <!-- <button class="btn btn-primar btn-dark">Press Me!!</button>-->

 <%- include('partials/footer') %>   
    