<%- include('partials/header') %>
<form>
    <h1 class="h3 mb-3 fw-normal">Register here</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Your Mail" required autofocus>


    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    
    <label for="inputDLNumber" class="visually-hidden">DL Number</label>
    <input type="text" id="inputDLNumber" class="form-control" placeholder="DLNumber" required>

    <label for="inputName" class="visually-hidden">Name</label>
    <input type="text" id="inputName" class="form-control" placeholder="Name" required>

    <label for="inputAddress" class="visually-hidden">Adress</label>
    <input type="text" id="inputAddress" class="form-control" placeholder="Address" required>

    <label for="inputContact" class="visually-hidden">Contact</label>
    <input type="text" id="inputContact" class="form-control" placeholder="Contact" required>

    <label for="inputChasis" class="visually-hidden">Chasis Number</label>
    <input type="text" id="inputName" class="form-control" placeholder="Chasis" required>

    <label for="inputVehiclePlate" class="visually-hidden">Vehicle plate number</label>
    <input type="text" id="inputVehiclePlate" class="form-control" placeholder="VehiclePlate" required>

    <label for="inputVehicle" class="visually-hidden">Vehicle Type</label>
    <input type="text" id="inputVehicle" class="form-control" placeholder="Vehicle(Heavy or light vehicle)" required>

    

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>

 

<%- include('partials/footer') %>  